
{{ "Hallo" }}
{% for prop in item.documents[0].data.properties %}
    {{ "Hi" }}
    {{ prop.group.names.description }}
{% endfor %}
<p class="prop" v-if="currentVariation.properties">
    Eine Property! <br />
</p>