
{{ "Hallo" }}
{{item.data | json_encode }}
<div v-for="prop in properties">
    <p>Hier ist ne Eigenschaft</p>
    ${ prop.group.names.description }
</div>
{% for prop in item.data.properties %}
    {{ "Hi" }}
    {{ prop.group.names.description }}
{% endfor %}
